<div>
	<table>
	<thead>
		<tr>

		</tr>
	</thead>
		<tbody>
		{% for p in people.slice(0,limit) %}

		<tr>
		<td><span class="fas fa-fw fa-birthday-cake"/></td>
		{% if p.days == 0 %}
		<td>Today| </td>
		{% else %}
		<td> {{p.date}}| </td>
		{% endif %}
		<td> {{p.name}}| </td>
		<td> {{p.age}} years</td>
		</tr>	
		{% endfor %}
		</tbody>
	</table>
</div>
